 <!--Мастер страница(контейнер,в который вставляется наша страница)-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Блог</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />

</head>
<body>
    
    <div id="wrapper">
       
        <div id="container">
            <!--Левая колонка-->
            <div id="left">
                <!--hdlogo starts-->
                <div id="hdlogo" align="center">
                    <img src="~/Content/images/topbanner.jpg" alt="" />
                </div>
                <!--hdlogo ends-->

                <div class="ltgap"></div>
                <!-- search starts-->
                <div id="search">
                    <div class="input">
                        <input type="text" name="search" class="textbox" /> <input type="submit" value="ПОИСК" class="searchBut" />
                    </div>
                </div>
                <!--search ends-->

                <div class="ltgap"></div>
                    @Html.Action("Recent", "Article")
                <div class="ltgap"></div>
                    @Html.Action("Recent", "Comment")
                <div class="ltgap"></div>

            </div>
            <!--Правая колонка-->
            <div id="right">
                
                <div class="publish">Мысли переполнены мурчащими котами.</div>
                
                <div class="head">Рыжее Мяукало</div>
                
                <div id="menulinks">
                    <ul>
                        <li><a href="#">Последние</a></li>
                        <li><a href="#">Архив</a></li>
                        <li><a href="#">Обо мне</a></li>

                    </ul>
                </div>
                <div class="clear"></div>
                @RenderBody()
                <br />

            </div>
            <div id="footer"></div>
        </div>
        
    </div>
</body>
</html>

