
<div class="document">
    
    <div>&nbsp;</div>
        <div class="dcontent">
            <img src="~/Content/images/cat.png"/>
       <pre>
            Живут на земле
            Существа неземной красоты.
            Я думаю,
            Ты догадался,
            Что это - КОТЫ.
            (Да, кошки -
            Хорошее слово, научное слово,
            Но ты,
            Читатель,
            Забудь это слово
            И помни лишь слово КОТЫ!)
            КОТЫ грациозны -
            Какая гимнастика
            Сравнится с котом?
            Взгляни, например,
            Как он лижет себя под хвостом!
            КОТЫ музыкальны -
            Не верь, о читатель,
            Пустым разговорам,
            Что будто
            Кошачий концерт
            Не сравнится с ангельским хором...
            А впрочем,
            КОТЫ
            Не боятся людской клеветы.
            КОТЫ -
            Они выше мирской суеты.
            Поверь,
            Словно светочь среди темноты,
            Нам посланы свыше
            КОТЫ!..
            Но тот, кто не хочет
            (А ты ведь не хочешь?)
            С КОТАМИ расстаться,
            Тот должен серьёзно
            (Да, очень серьёзно!)
            С КОТАМИ считаться.
            Наука открыла:
            Природа не можеть терпеть пустоты.
            Добавлю:
            Особенно -
            Лучшая часть этой самой природы -
            КОТЫ.
            Держать на голодном пайке?
            Говорят,
            Можно так обращаться с людьми...
            Но если ты держишь КОТОВ,
            То корми
            И корми,
            И корми!
            Коты в нашем доме
            Покой и уют создают, -
            Но сами КОТЫ
            Тоже любят покой и уют!
            И если, допустим,
            Внезапно захочешь
            Ударить в тамтам,
            Сначала подумай,
            Приятно ли это КОТАМ!
            А главное -
            Даже не пробуй
            К КОТАМ обращаться "на ты",
            Поскольку любой,
            Самый маленький кот -
            Это тоже КОТЫ!
            Советую не забывать,
            Что КОТЫ -
            Несомненные родичи Тигров,
            И помнить народную мудрость
            (Её я вынес в эпиграф).
            Осталось добавить,
            Что тех,
            Кто не хочет
            Серьёзно считаться с КОТАМИ,
            КОТЫ
            И вполне справедливо!)
            Считают cкотами!

<img src="~/Content/images/lapi2.png" />
         </pre>
            
        </div>
    
    
</div>
<div class="rtboxbg">&nbsp;</div>
<div class="gap"></div>


